<div class="buttonAreaHasText$modifier_class">
  <div class=" _button">
    <button class="button -sizeS">button</button>
  </div>
  <p class=" _text">
    あテキストテキストテキストテキストテキストテキストテキストテキスト
    テキストテキストテキストテキストテキストテキストテキストテキストい
  </p>
</div>