<button class="button" id="dialogSample">dialog表示</button>

<div class="dialog">
  <span class=" _close"></span>
  <div class=" _container">
  </div>
</div>

<div class="dialogContents" id="dialogSample1">
  <p class="textContener -fontWB">
    テキストテキスト
  </p>
  <p class="textContener -mt_10">
    テキストテキストテキストテキストテキストテキスト<br>
    テキストテキストテキストテキスト
  </p>
  <div class="buttonArea -aligned">
    <button class="button2">ボタン</button>
    <button class="button">ボタン</button>
  </div>
</div>