<footer class="footer">
  <div class="_logo">
    サービス名
  </div>
  <div class="_menu">
    <ul class="footerMenu">
      <li><a href="">利用規約</a></li>
      <li><a href="">プライバシーポリシー</a></li>
      <li><a href="">特定商法取引に基づく表記</a></li>
      <li><a href="">ヘルプ</a></li>
    </ul>
  </div>
</footer>