<fieldset class="fieldset">
  <legend class="fieldName">
    フィールド名
  </legend>

  <div class="field">
    <div class="formLayout$modifier_class">
      <label class="itemName" for="">label</label>
      <div class="item">
        <input class="inputText" name="" id="" placeholder="placeholder" type="text">
        <span class="tooltip">テキストテキスト</span>
        （全角）
      </div>
    </div>

    <div class="formLayout$modifier_class">
      <label class="itemName" for="">label</label>
      <div class="item">
        <div class="selectArea">
          <select class="select" name="" id="">
            <option value="">テキストA</option>
            <option value="">テキストB</option>
          </select>
        </div>
      </div>
    </div>

    <div class="formLayout$modifier_class">
      <p class="itemName">label</p>
      <div class="item">
        <input class="radio" name="" id="check3$modifier_class" type="checkbox">
        <label class="radioLabel" for="check3$modifier_class">
          テキストテキスト
        </label>
      </div>
    </div>

    <div class="formLayout$modifier_class">
      <p class="itemName">label</p>
      <div class="item">
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
      </div>
    </div>

  </div>
</fieldset>
