<fieldset class="fieldset">
  <legend class="fieldName">
    フィールド名
  </legend>

  <div class="field$modifier_class">
    <div class="formLayout">
      <label class="itemName" for="">label</label>
      <div class="item">
        <input class="radio" name="raio$modifier_class" id="raio$modifier_class" type="radio">
        <label class="radioLabel" for="raio$modifier_class">
          テキストテキスト
        </label>
      </div>
    </div>
  </div>

  <div class="field$modifier_class">
    <div class="formLayout">
      <label class="itemName" for=""></label>
      <div class="item">
        <input class="radio" name="raio$modifier_class" id="raio2$modifier_class" type="radio">
        <label class="radioLabel" for="raio2$modifier_class">
          テキストテキスト
        </label>
      </div>
    </div>
  </div>

</fieldset>
