<fieldset class="fieldset">
  <legend class="fieldName">
    フィールド名
  </legend>

  <div class="field">
    <div class="formLayout$modifier_class">
      <label class="itemName" for="">label</label>
      <div class="item">
        <input class="inputText -sizeS" name="" id="" type="text" >
        <span class="inputPipe">ー</span>
        <input class="inputText -sizeS" name="" id="" type="text" >
      </div>
    </div>
</fieldset>
