<div class="grid$modifier_class">
  <div class=" _gridItem -g_4_12 -hasGutter">
    <p style="background-color: #ccc">テキストテキスト</p>
  </div>
  <div class=" _gridItem -g_4_12 -hasGutter" style="background-color: #ccc">
    <p style="background-color: #ccc">テキストテキスト</p>
  </div>
  <div class=" _gridItem -g_4_12 -hasGutter">
    <p style="background-color: #ccc">テキストテキスト</p>
  </div>
</div>