<div class="grid">
  <div class=" _gridItem$modifier_class">
    <p style="background-color: #ccc">テキストテキスト</p>
  </div>
  <div class=" _gridItem$modifier_class">
    <p style="background-color: #ccc">テキストテキスト</p>
  </div>
  <div class=" _gridItem$modifier_class">
    <p style="background-color: #ccc">テキストテキスト</p>
  </div>
</div>