<div class="formLayout">
  <label class="itemName" for="">label</label>
  <div class="item">
    <input class="inputText -error$modifier_class" name="" id="" type="text">
    <p class="errorText res_php" style="display: block">
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
    <span class="tooltip">テキストテキスト</span>
  </div>
</div>