<div class="formLayout">
  <label class="itemName" for="">label</label>
  <div class="item">
    <input class="inputText$modifier_class" id="" type="text">
    <span class="tooltip">テキストテキスト</span>
  </div>
</div>
<div class="formLayout">
  <div class="item">
    <textarea class="inputText$modifier_class" rows="2" id=""></textarea>
  </div>
</div>