<div class="pageMenu">
  <ul class=" _primary">
    <li class="$modifier_class"><a href="">トップ</a></li>
    <li class="$modifier_class">
      <a href="">メニュー</a>
      <ul class=" _secondly">
        <li><a href="">テキストhover</a></li>
        <li><a href="">テキストテキスト</a></li>
      </ul>
    </li>
    <li class="$modifier_class"><a href="">メニュー</a></li>
  </ul>
</div>