<div class="formLayout">
  <p class="itemName">label</p>
  <div class="item">
    <input class="radio$modifier_class" name="radio" id="radio1$modifier_class" type="radio">
    <label class="radioLabel" for="radio1$modifier_class">
      ラジオボタン
    </label>
  </div>
</div>
<div class="formLayout">
  <div class="item">
    <input class="radio$modifier_class" name="radio" id="radio2$modifier_class" type="radio">
    <label class="radioLabel" for="radio2$modifier_class">
      ラジオボタン
    </label>
  </div>
</div>