<table class="table">
  <thead>
    <tr class="$modifier_class">
      <th>見出し1</th>
      <th>見出し2</th>
      <th>見出し3</th>
    </tr>
  </thead>
  <tbody>
    <tr class="$modifier_class">
      <td>
        テキストテキストテキストテキスト
        テキストテキストテキストテキスト
        テキストテキストテキストテキスト
      </td>
      <td>テキストテキストテキスト</td>
      <td>テキストテキストテキスト</td>
    </tr>
    <tr>
      <td class="-right" colspan="3">テキスト</td>
    </tr>
  </tbody>
</table>